.alert-component-alimx {
    padding: 1em;
    border-radius: 5px;
    line-height: 30px;
    font-size: .9em;
}

.alert-component-alimx.pink {
    background-color: #F174DC;
}

.alert-component-alimx.blue {
    background-color: #74b9f1;
}

.alert-component-alimx.red {
    background-color: #f18074;
}

.alert-component-alimx.green {
    background-color: #74f183;
}