nav {
    width: 100%;
    background-color: #F174DC;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 7px #00000041;
}

nav .nav-content {
    max-width: 1500px;
    margin: 0 auto;
}

nav ul {
    margin: 0 1.5em;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display:inline-block;
    margin: 1em;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: all .1s linear;
    text-shadow: 0px 1px 8px transparent;
}

nav ul li a:hover{
    color: #ffffff;
    text-shadow: 0px 1px 8px #ffffff;
}