.question-form-alimx {
    display: flex;
}

.question-form-alimx.reverse {
    flex-direction: row-reverse;
}

.question-form-alimx .user-img-c {
    width: 10%;
    padding: 1em;
    overflow: hidden;
}

.question-form-alimx .question-content-c {
    width: 80%;
    padding: 1em;
    background-color: #F0F0F0;
    border-radius: 5px;
    margin: 0 1em;
}

.question-form-alimx .user-img-c img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #e8a8dd;
}

.question-form-alimx .title-c {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
}

.question-form-alimx .questions-c {
    display: flex;
    flex-direction: column;
}

.question-form-alimx .questions-c input {
    margin-top: .7em;
    border-radius: 4px;
    border: 2.5px solid #dcdcdc;
    padding: 1.3em;
    outline: none;
    background-color: #F0F0F0;
    transition: all .1s linear;
} 

.question-form-alimx .questions-c input:focus {
    border: 2.5px solid #e8a8dd;
    background-color: #ffffff;
}

.question-form-alimx .questions-c .answer-cool {
    line-height: 28px;
}

@media only screen and (max-width: 650px) {

    .question-form-alimx .user-img-c {
        width: 20%;
    }

}