.create-content-alimx .principal-title-c {
    background-color: #F174DC;
    padding-top: 5em;
}

.create-content-alimx .principal-title-c .content-c {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.create-content-alimx .principal-title-c .icon {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.create-content-alimx .form-c {
    max-width: 800px;
    margin: 2em auto;
    padding-left: 1em;
    padding-right: 1em;
}

.create-content-alimx .form-c .question-form-alimx {
    margin-bottom: 1.5em;
}

.create-content-alimx .form-c button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1em;
    color: #ffffff;
    background-color: #F64283;
    margin-bottom: 1.5em;
    outline: none;
    transition: all .1s linear;
}

.create-content-alimx button:hover {
    background-color: #fe5f9a;
    cursor: pointer;
}

.create-content-alimx .form-c .alert-component-alimx {
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 650px) {

    

}