.home-content-alimx {
    margin: 0 auto;
    padding: 1em;
    max-width: 1500px;
}

.home-content-alimx .principal-title-c {
    padding-top: 5em;
}

.home-content-alimx .principal-title-c h1 {
    text-align: center;
}

.home-content-alimx .principal-title-c h2 {
    text-align: center;
    font-weight: 400;
}

.home-content-alimx .form-c {
    max-width: 800px;
    margin: 2em auto;
    padding-left: 1em;
    padding-right: 1em;
}

.home-content-alimx .form-c .question-form-alimx {
    margin-bottom: 1.5em;
}