.users-content-alimx {
    margin: 0 auto;
    padding: 1em;
    max-width: 1500px;
}

.users-content-alimx .principal-title-c {
    padding-top: 5em;
}

.users-content-alimx .principal-title-c h1 {
    text-align: center;
}

.users-content-alimx .content-c p {
    text-align: center;
}

.users-content-alimx .content-c i {
    font-size: 9em;
}